<!DOCTYPE HTML>
<html  lang="en"  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>图片列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品信息 <span class="c-gray en">&gt;</span>  商品管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

	<form action="spshow" method="post">
			<div class="text-c"> 日期范围：
				<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" name="datemin" style="width:120px;" th:value="${datemin}">

				<input type="text" class="input-text" style="width:250px" placeholder="输入名称" id="text" name="text"  th:value="${text}">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询数据</button>
			</div>
		</form>

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="javascript:;" onclick="member_add('添加商品','FenLeis','800','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a>   </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
	

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="80">ID</th>
					<th width="100">商品名称</th>
					<th width="100">商品图片</th>
					<th>所属三级分类</th>
					<th width="150">价格</th>
					<th width="150">库存</th>
					<th width="60">发布时间</th>
					<th width="60">商品介绍</th>
					<th width="60">地区</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>

				<div th:each="mm : ${session.spshow}" >
				<tr class="text-c">
					<td><span th:text="${mm.get('cy_id')}"></span></td>
					<td><span th:text="${mm.get('cy_name')}"></span></td>
					<td><p ><img width="210" class="picture-thumb"  th:attr="src='img/'+${mm.get('p_image')},title=${mm.get('p_image')},alt=${mm.get('p_image')}"/></p></td>
					<td><span th:text="${mm.get('tc_content')}"></span></td>
					<td class="text-c"><span th:text="${mm.get('cy_price')}"></span></td>
					<td><span th:text="${mm.get('cy_inventory')}"></span></td>
					<td><span th:text="${mm.get('cy_shelftime')}"></span></td>
					<td><span th:text="${mm.get('cy_introduction')}"></span></td>
					<td  > <span th:text="${mm.get('cy_placeoforigin')}"></span> </td>
					<td class="td-manage"> <a style="text-decoration:none" class="ml-5" th:type="${mm.get('cy_id')}" onClick="picture_edit('商品编辑','SpBianJi?id='+this.type,'10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5"  th:onclick="'javascript:picture_del(\''+${mm.get('cy_id')}+'\',\''+${mm.get('cs_id')}+'\')'"     href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				</div>




			</tbody>
		</table>
	</div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[1,2,9]}// 制定列不参与排序
	]
});



/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-添加*/
function member_add(title,url,w,h){
    layer_show(title,url,w,h);
}



/*商品-删除*/
function picture_del(obj,a){
	layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'POST',
            url: 'delteshow',
            data:{id:obj,tuid:a},
            dataType: 'json',
            success: function(data){
                if(data=="1"){
                    layer.msg('已删除!',{icon:1,time:1000});
                    var int=self.setInterval(function(){  // 这个方法是说在延迟两秒后执行大括号里的方法
                        $(obj).parents("tr").remove();
                        window.location="javascript:location.replace(location.href)";
                    },1000) //这里1000代表1秒
                } else if(data=="3"){
                    layer.msg('该商品有订单不能删除!',{icon:2,time:1000});
                }
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
	});
}
</script>
</body>
</html>